@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
div {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
.h1-text {
  font-size: clamp(1.5rem, 2vw + 0.9rem, 4.375rem);
  font-weight: 700;
}
.h2-text {
  font-size: clamp(1.25rem, 1vw + 1rem, 2.25rem);
  font-weight: 700;
}
.h4-text {
  font-size: clamp(1rem, 1vw + 0.6rem, 1.563rem);
}
.p-text {
  font-size: clamp(0.938rem, 1vw + 0.6rem, 1.25rem);
  font-weight: 500;
}
.h4-fixed {
  font-size: 18px;
}
.p-fixed {
  font-size: 16px;
}
.nav-text {
  font-size: clamp(0.75rem, 0.5vw + 0.5rem, 1.125rem);
  font-weight: 700;
}

/* text fonts  */
.header_class {
  position: absolute;
  opacity: 0.7;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
@media (min-width: 900px) {
  .header_class {
    background-color: #021c47;
  }
}

/* hamburger menu */
@media (max-width: 800px) {
  #navlinks {
    animation: translate 0.7s ease-in-out;
    transform-origin: top;
  }
  @keyframes translate {
    0% {
      transform: scaleY(0);
    }

    100% {
      transform: scaleY(1);
    }
    -50% {
      transform: scaleY(0.5);
    }
  }
}
/* hamburger menu */

/* dots blinking */
.section3 {
  background: url("/images/1/d.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
@keyframes up-right {
  0% {
    transform: scale(0.9);
    opacity: 0.25;
  }
  25% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  50% {
    transform: scale (1, 5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.25;
  }
}

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0.75;
  -webkit-animation: up-right 1s infinite;
  -moz-animation: up-right 1s infinite;
  -o-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}
@media (max-width: 800px) {
  .circle {
    width: 15px;
    height: 15px;
  }
  .day_in {
    max-width: 70%;
    background: url("/images/1/h.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: -1;
    height: 450px;
    -webkit-clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
  }
}
@media (max-width: 500px) {
  .blue_clip {
    clip-path: polygon(0 0, 70% 0, 90% 100%, 0% 100%) !important;
  }
}
/* d*/

.red {
  position: absolute;
}
.day_in {
  max-width: 100%;
  background: url("/images/1/h.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 450px;
  -webkit-clip-path: polygon(0 0, 90% 0, 60% 100%, 0% 100%);
  clip-path: polygon(0 0, 90% 0, 60% 100%, 0% 100%);
}
.clip_path {
  z-index: 2;
}
.blue_clip {
  clip-path: polygon(0 0, 49% 0, 72% 100%, 0% 100%);
  background-color: #1c2f50;
  top: 0;
  left: 0;
  z-index: 2;
}

/* dots blinking*/

.card_:hover button {
  background: #1c2f50;
  color: #eead30;
}

/*buttons*/
.btn-21,
.btn-21 *,
.btn-21 :after,
.btn-21 :before,
.btn-21:after,
.btn-21:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-21 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #faa019;
  background-image: none;
  color: #faa019;
  cursor: pointer;
  font-weight: 400;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#faa019, #faa019);
  padding: 0;
}
.btn-21:disabled {
  cursor: default;
}
.btn-21:-moz-focusring {
  outline: auto;
}
.btn-21 svg {
  display: block;
  vertical-align: middle;
}
.btn-21 [hidden] {
  display: none;
}
.btn-21 {
  position: relative;
}
.btn-21 span {
  mix-blend-mode: difference;
}
.btn-21:before {
  -webkit-animation: move-out 0.5s;
  animation: move-out 0.5s;
  background: #1c2f50;
  color: "#FAA019";
  content: "";
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  width: 100%;
  will-change: transform;
  /* border: 2px solid #faa019; */
}
.btn-21:hover:before {
  -webkit-animation: move-in 0.5s forwards;
  animation: move-in 0.5s forwards;
}
@-webkit-keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes move-in {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@-webkit-keyframes move-out {
  0% {
    transform: translateX(100%);
  }
  to {
    transform: translateX(200%);
  }
}
/*buttons*/

/*loader */
.body {
  background: ;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.body .container {
  width: 112px;
  height: 112px;
}
.body .container .box1 {
  border: 16px solid #faa019;
}
.body .container .box2 {
  border: 16px solid grey;
}
.body .container .box3 {
  border: 16px solid #021c47;
}
.body .container .box1,
.body .container .box2,
.body .container .box3 {
  box-sizing: border-box;
  position: absolute;
  display: block;
}
.body .container .box1 {
  width: 112px;
  height: 48px;
  margin-top: 64px;
  margin-left: 0px;
  -webkit-animation: anime1 4s 0s forwards ease-in-out infinite;
  animation: anime1 4s 0s forwards ease-in-out infinite;
}
.body .container .box2 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 0px;
  -webkit-animation: anime2 4s 0s forwards ease-in-out infinite;
  animation: anime2 4s 0s forwards ease-in-out infinite;
}
.body .container .box3 {
  width: 48px;
  height: 48px;
  margin-top: 0px;
  margin-left: 64px;
  -webkit-animation: anime3 4s 0s forwards ease-in-out infinite;
  animation: anime3 4s 0s forwards ease-in-out infinite;
}
@-webkit-keyframes anime1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}
@keyframes anime1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
  75% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 0px;
  }
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
}
@-webkit-keyframes anime2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}
@keyframes anime2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  25% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  50% {
    width: 112px;
    height: 48px;
    margin-top: 0px;
    margin-left: 0px;
  }
  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
  75% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
  100% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
}
@-webkit-keyframes anime3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }
  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}
@keyframes anime3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0px;
    margin-left: 64px;
  }
  25% {
    width: 48px;
    height: 112px;
    margin-top: 0px;
    margin-left: 64px;
  }
  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }
  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}

/*loader */
/* caarousel*/

.slideshow {
  margin: 0 auto;
  overflow: hidden;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1500ms;
}
.undo_wrap {
  white-space: wrap;
}

.slide {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* Buttons */
/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;

  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #faa019;
}
/* caarousel*/
/* clip path*/
.clip {
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
.clip2 {
  transform: rotate(90deg);
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
/* clip path*/
.how_we_do {
  @apply w-[200px] lg:w-[300px] h-[200px] lg:h-[300px] rounded-[50%] border border-sec hover:bg-sec p-10;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown_list {
  display: none;
}

.dropdown:hover .dropdown_list {
  display: block;
}
